.Avatar {
    height: 150px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8%;
    background-color: #3170A9;
    margin-bottom: 4%;
    margin-top: 4%;
    transition: all .2s ease-in-out;
}

.Avatar:hover { transform: scale(1.1); }

.col-3 {
    flex:0 0 21%;
}